<app-top-nav-bar></app-top-nav-bar>
<main class="main__container">
  <div class="intro__container">
    <div class="intro__text">
      <strong>
        A blog for people who like simple food
      </strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum dui eros, vel bibendum neque feugiat ac. Integer finibus elit mi, in pretium dolor efficitur id. </p>
      <button>Popular recipes</button>
    </div>
  </div>
  <div class="article-card__container" >
    <div  #articleCard class="article-card__slide" >
      <div *ngFor="let a of article" app-article-card [articleObj]="a"></div>
    </div>
    <div class="article-card__button">
      <button (click)="moveLeft()">&#60;</button>
      <button (click)="moveRight()">&#62;</button>
    </div>
  </div>
  <div class="subscribe__container">
    <section class="subscribe__left">
      <strong>Subscribe to the best food newsletter</strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum dui eros, vel bibendum neque feugiat ac.</span>
    </section>
    <section class="subscribe__right">
      <button>Add my email to the list</button>
    </section>
  </div>
</main>
<app-footer></app-footer>