@import "../../../../styles.scss";

.article-card {
    &__card {
        max-width: 300px;   
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 1rem;
        transition: box-shadow, 0.3s;
        cursor: pointer;
        background-color: white;
        &:hover {
            transition: box-shadow, 0.3s;
            box-shadow: 0 0 20px #DDD;
        }   
        span:nth-of-type(1) {
            @include main-font-medium;
            margin-top: 2rem;
            color: #BBB;
            font-size: 0.9rem;
        }
        span:nth-of-type(2){
            @include main-font-medium;
            margin: 1rem 0;
        }
        span:nth-of-type(3) {
            margin-top: 1rem;
            font-size: 0.9rem;
        }
    }
    
}